
/source/__pycache__
/.ipynb_checkpoints
/.vscode
*.pyc
*.out
*.svg
*.dat
*.wav
*.code-workspace
Datasets/CLEAN_House1.csv
Datasets/*.csv
Datasets/IrpiniaEarthquake/
Datasets/*.mseed
*.parquet
results.txt
