absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
audioread==3.0.1
beautifulsoup4==4.12.3
bottleneck==1.4.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
cloudpickle==3.1.0
contourpy==1.3.0
cycler==0.12.1
datasketch==1.6.5
decorator==5.1.1
distlib==0.3.9
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.68.0
h5py==3.12.1
icc-rt==2020.0.133
identify==2.6.2
idna==3.10
iniconfig==2.0.0
intel-openmp==2020.0.133
jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
kiwisolver==1.4.7
lazy-loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.3.0
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.9.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.14.0
ml-dtypes==0.4.1
msgpack==1.1.0
namex==0.0.8
networkx==3.4.2
nodeenv==1.9.1
numba==0.60.0
numpy==2.0.2
nvidia-ml-py==12.560.30
obspy==1.4.1
opt-einsum==3.4.0
optree==0.13.1
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pip==24.3.1
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
pooch==1.8.2
pre-commit==4.0.1
protobuf==5.28.3
psutil==6.1.0
pyarrow==18.0.0
pycparser==2.22
pydantic==2.9.2
pydantic-core==2.23.4
pygments==2.18.0
pypalettes==0.1.4
pyparsing==3.1.4
pyqt6==6.7.1
pyqt6-qt6==6.7.3
pyqt6-sip==13.8.0
pysocks==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
requests==2.32.3
rich==13.9.3
ruff==0.7.2
scalene==1.5.45
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setuptools==75.1.0
six==1.16.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
sqlalchemy==1.4.54
stumpy==1.13.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
textual==0.85.2
threadpoolctl==3.5.0
tornado==6.4.1
tqdm==4.66.5
tslearn==0.6.3
typing-extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
urllib3==2.2.3
virtualenv==20.27.1
werkzeug==3.1.3
wfdb==4.1.2
wheel==0.44.0
wrapt==1.16.0
